* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/*Add a nav section*/ 

/*Add h1 class*/

.hero {
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/me-graduation.jpg);
}

/*Add page section class*/

/*Add page section contact class*/
