* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  background-color: #31343D;
  padding-top: 10px;
  padding-bottom: 10px;
}

header h1 {
  display: inline-block;
  background-color: #92CCCE;
  color: #31343D;
  padding-left: 50px;
  padding-right: 10px;
}

header nav {
  float: right;
}

header nav ul {
  list-style-type: none;
  margin-right: 25px;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  font-size: 20px;
}

a {
  color: #92CCCE;
}

p {
  margin: 0;
}

.hero-image { /*Background image*/
  height: 300px;
  width: 100%;
  position: relative;
  background-image: url(../images/me-graduation.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.hero-text { /*Text on top of hero image in the bottom right corner*/
  position: absolute;
  height:20%;
  width:20%;
  bottom: 25px;
  right: 100px;
  background-color: #92CCCE;
  color: #31343D;
  padding: 5px;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
}

.page-wrapper{ /*Setting the grid for the main section*/
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "TopLeft TopRight"
  "MidLeft MidRight"
  "BotLeft BotRight";
  background-color: #EEEEF7;
}

#about {
  grid-area: TopLeft; /* Keep the About me heading in the TopLeft grid area */
  display: grid;
  justify-content: end;
}

#work{
  grid-area: MidLeft; /* Keep the Work heading in the MidLeft grid area */
  display: grid;
  justify-content: end;
}

#contact{
  grid-area: BotLeft; /* Keep the Contact heading in the BotLeft grid area */
  display: grid;
  justify-content: end;
}


