* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  background-color: #31343D;
  padding-top: 10px;
  padding-bottom: 10px;
}

header h1 {
  display: inline-block;
  background-color: #92CCCE;
  color: #31343D;
  padding-left: 50px;
  padding-right: 10px;
}

header nav {
  float: right;
}

ul li {
  list-style-type: none;
  margin-right: 25px;
  display: inline-block;
  margin-left: 25px;
  font-size: 20px;
}

nav a {
  color: #92CCCE;
  text-decoration: none;
  border-bottom: solid;
  border-bottom-width: 4px;
}

p {
  margin: 0;
  color: #445877;
}

.hero-image {
  /*Background image*/
  height: 300px;
  width: 100%;
  position: relative;
  background-image: url(../images/me-graduation.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  /*Text on top of hero image in the bottom right corner*/
  position: absolute;
  height: 25%;
  width: 30%;
  bottom: 25px;
  right: 100px;
  background-color: #92CCCE;
  color: #31343D;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-wrapper {
  background-color: #EEEEF7;
}
.page-section {
  display: grid;
  grid-template-columns: 25% 1% 74%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "Left Right";
  padding: 20px;
}

h2 {
  grid-area: Left;
  display: grid;
  justify-content: end;
  color: #445877;
  padding: 5px;
}

.vl {
  border-left: 4px solid #445877;
  height: auto;
}

#contact a {
  color: #445877;
  text-decoration: none;
  border-bottom: solid;
  border-bottom-width: 4px;
}


.work-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "Top Top"
    "Top Top"
    "Mid1 Mid2"
    "Bot1 Bot2";
}

.challenge1 {
  grid-area: Top;
  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border: solid #92CCCE 5px;
  margin: 8px;
  height: 400px
}

.Application2 {
  grid-area: Mid1;
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid #92CCCE 5px;
  margin: 8px;
  height: 200px;
}

.Application3 {
  grid-area: Mid2;
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid #92CCCE 5px;
  margin: 8px;
  height: 200px;
}

.Application4 {
  grid-area: Bot1;
  background-image: url(../images/02-portfolio-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid #92CCCE 5px;
  margin: 8px;
  height: 200px;
}

.Application5 {
  grid-area: Bot2;
  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid #92CCCE 5px;
  margin: 8px;
  height: 200px;
}
.text {
  position: absolute;
  bottom: 20px;
  height: auto;
  width: auto;
  background-color: #92CCCE;
  color: #31343D;
  padding: 10px;
  display: block;
}



